<div class="row" style="margin-top: 60px;">
    <div class="col-xs-12">
        <button class="btn btn-success" *ngIf='!enableRecipeFormSection' (click)='addNewRecipeButtonClick()'>New
            Recipe</button>
    </div>
</div>
<div class="row" *ngIf='enableRecipeFormSection'>
    <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="text" [(ngModel)]='recipeName' class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="description" class="form-control">
    </div>
    <div class="form-group">
        <label for="imagePath">Image Path</label>
        <input type="text" [(ngModel)]="imagePath" class="form-control">
    </div>
    <!-- <div class="pull-right" >  -->
    <div>
        <button class="btn btn-primary" type="submit" (click)='addRecipe()'>Add Recipe</button>
        <button class="btn btn-primary" type="button" (click)='clear()' style="margin-left: 10px;">Clear</button>
        <button class="btn btn-primary" type="button" (click)='hideSection()' style="margin-left: 10px;">Hide Section</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <recipe-item *ngFor='let recipeItem of recipes' [recipe]='recipeItem' ></recipe-item>
    </div>
</div>