<div *ngIf='recipe else infoText'>
    <div class="row">
        <div class="col-xs-12"></div>
        <img [src]='recipe.imagePath' alt="" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Recipe Name : {{recipe.name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" dropdown-directive>
                <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span
                        class="caret "></span></button>
                <ul class="dropdown-menu">
                    <li><a (click) = 'onAddToSoppingList()' style="cursor : pointer">Add to Cart</a></li>
                    <li><a href="#">Edit Recipe</a></li>
                    <li><a href="#">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Description : {{recipe.description}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           <ul class="list-group">
               <li class="list-group-item" *ngFor = 'let ingredient of recipe.ingredients'>{{ingredient.name}} - {{ingredient.amount}}</li>
           </ul>
        </div>
    </div>
</div>
<ng-template #infoText>
    <p><span style="color: blue; font-size: 30px; font-weight: bold;">Please select Recipe for details.</span></p>
</ng-template>