<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup] = 'signUpForms' (ngSubmit) = 'onSubmit()'>
        <div formGroupName = 'userData'>
            <div class="form-group">
                <label for="innerUsername">Inner Username</label>
                <input type="text" id="innerUsername" class="form-control" formControlName='innerUsername'>
                <span *ngIf="!signUpForms.get('userData.innerUsername').valid && signUpForms.get('userData.innerUsername').touched" class="help-block">Please Enter Username!</span>
              </div>
              <div class="form-group">
                <label for="innerEmail">Inner Email</label>
                <input type="email" id="innerEmail" class="form-control" formControlName="innerEmail">
                <span *ngIf="!signUpForms.get('userData.innerEmail').valid && signUpForms.get('userData.innerEmail').touched" class="help-block">Please Enter Valid Email!</span>
              </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" formControlName='username'>
          <span *ngIf="!signUpForms.get('username').valid && signUpForms.get('username').touched" class="help-block">Please Enter Username!</span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
          <span *ngIf="!signUpForms.get('email').valid && signUpForms.get('email').touched" class="help-block">Please Enter Valid Email!</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName='hobbies'>
          <h4>Your Hobbies</h4>
          <button type="button" class="btn btn-default" (click) ='onAddHobbies()' style="margin-bottom: 10px;">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of signUpForms.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]='i'>

          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
