<div>
  <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                          routerLink="/">Home</a></li>
                  <li role="presentation" routerLinkActive="active"><a routerLink="receipe">Recipes</a>
                  <li role="presentation" routerLinkActive="active"><a routerLink="shoppingList">Shopping List</a>
                  </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a routerLink="/signup">Register</a></li>
                  <li class="dropdown" dropdown-directive>
                      <a routerLink="#" class="dropdown-toggle">Manage <span class="caret"></span></a>  
                      <ul class="dropdown-menu">
                          <li><a a routerLink="receipe">Save Data</a></li>
                          <li><a a routerLink="receipe">Fetch Data</a></li>
                      </ul>
                  </li>
              </ul>

          </div>
      </nav>
  </div>
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>