<div class="row" style="margin-top: 10px;">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- # is called fragment in Angular -->
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment='loading'
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <a routerLink='/servers'>Reload Page</a>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

