<div class="row">
    <div class="col-xs-12"></div>
    <img src="https://cdn.pixabay.com/photo/2016/06/15/19/09/food-1459693_1280.jpg" alt="" class="img-responsive">
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Recipe Name</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span
                    class="caret "></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to Cart</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Description</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Ingredient</h4>
    </div>
</div>